# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

.metadata

# ignore all files ending with ~
*~ 
.metadata
.settings
target
/*.classpath
/*.project
